/* fix margins around class names */
code.descclassname{margin-left:0.29412em;padding-left:0.29412em;padding-right:0;}
code.descname{margin-right:0.29412em;padding-right:0.29412em;padding-left:0;}
em.property{margin-right:0.29412em;}

/* make x-refs look like inline code */
code.xref{background-color: var(--md-code-bg-color);}

/* make properties more distinct */
.property{font-weight:bold;font-size:0.7rem;}

/* prevent the long object strings from breaking mobile display */
dt{overflow-wrap: break-word;}

dt:target{margin-top:-3.55rem;padding-top:3.45rem;}
dl.field-list > dt{font-weight:bold;word-break:break-word;padding-left:0.5em;padding-right:5px;}

/* make code boxes behave the same */
.highlight{position:relative;margin:1em 0;padding:0;border-radius:.1rem;background-color:var(--md-code-bg-color);line-height:1.4;-webkit-overflow-scrolling:touch;}
.highlight pre{display:block;margin:0;padding:.525rem .6rem;background-color:transparent;overflow:auto;vertical-align:top;}
.highlight pre::-webkit-scrollbar{width:.2rem;height:.2rem;}
.highlight pre::-webkit-scrollbar-thumb{background-color:var(--md-default-fg-color--lighter);}
.highlight pre::-webkit-scrollbar-thumb:hover{background-color:var(--md-accent-fg-color);}

/* template defaults to showing links in print view, a good thing.
   But they're all relative here, thus useless. This makes them blank  */ 
@media print a{&::after {
    color: $md-color-black--light;
    content: "&nbsp;";
}

/* make version added italic */
.versionadded{font-style: italic;}
